<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buliyiren.shpre.mapper.OrganizationMapper">

	<!-- 结果集 -->
	<resultMap id="organizationResult" type="com.buliyiren.shpre.model.Organization">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="parentId" column="parent_id" />
		<result property="available" column="available" />
		<result property="$jacocoData" column="data" />
	</resultMap>

</mapper>
