<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buliyiren.shpre.mapper.ResourceMapper">

	<!-- 结果集 -->
	<resultMap id="resourceResult" type="com.buliyiren.shpre.model.Resource">
		<id property="id" column="id" />
		<result property="name" column="name" />
		<result property="type" column="type" />
		<result property="url" column="url" />
		<result property="parentId" column="parent_id" />
		<result property="permission" column="permission" />
		<result property="available" column="available" />
		<result property="$jacocoData" column="data" />
	</resultMap>

</mapper>
