<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buliyiren.shpre.mapper.RoleResourceMapper">

	<!-- 结果集 -->
	<resultMap id="roleResourceResult" type="com.buliyiren.shpre.model.RoleResource">
		<result property="roleId" column="role_id" />
		<result property="resourceId" column="resource_id" />
	</resultMap>

</mapper>
